# Ignore macOS files
.DS_Store

# Ignore IDE files
.idea/
.vscode/
*.iml

# Ignore backend build files
backend/target/
backend/*.log
backend/logs/
*.log
*.gz
backend/hs_err_pid*.log
backend/replay_pid*.log

# Ignore frontend node_modules and build files
frontend/node_modules/
frontend/dist/
frontend/.eslintcache
frontend/*.log
